<div
  class="sidebar-wrapper"
  style="padding: 20px; background-color: #063970; color: white"
>
  <!-- Logo -->
  <div
    class="logo-container"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      margin-top: 30px;
      margin-bottom: 30px;
    "
  >
    <img
      src="/assets/img/ramky.png"
      alt="sharvi infotech Logo"
      style="
        width: 100px; /* Set width */
        height: 100px; /* Set height */
        border-radius: 50%; /* Makes the image circular */
        border: 3px solid #0072ff; /* Add a border, adjust color as needed */
        box-shadow: 0 4px 8px rgba(0, 114, 255, 0.3); /* Subtle shadow for depth */
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      "
    />
  </div>
  <div>
    <h1
      style="
        font-size: 24px;
        color: white;
        margin-left: 10px;
        align-items: center;
        margin-top: 25px;
      "
    >
      Sales Dashboard
    </h1>
  </div>
  <!-- <div class="sidebar">
    <button
      class="btn flex-grow-1"
      style="background-color: #0073e6; color: white; margin: 5px"
      (click)="onChartSelect('area')"
    >
      Area
    </button>
    <button
      class="btn flex-grow-1"
      style="background-color: #0073e6; color: white; margin: 5px"
      (click)="onChartSelect('performance')"
    >
      Performance
    </button>
    <button
      class="btn flex-grow-1"
      style="background-color: #0073e6; color: white; margin: 5px"
      (click)="onChartSelect('bookingsource')"
    >
      Booking Source
    </button>
    <button
      class="btn flex-grow-1"
      style="background-color: #0073e6; color: white; margin: 5px"
      (click)="onChartSelect('sales')"
    >
      Period-wise Sales
    </button>
    <button
      class="btn flex-grow-1"
      style="background-color: #0073e6; color: white; margin: 5px"
      (click)="onChartSelect('materialgroup')"
    >
      Material Group
    </button>
    <button
      class="btn flex-grow-1"
      style="background-color: #0073e6; color: white; margin: 5px"
      (click)="onChartSelect('cancellations')"
    >
      Cancellations
    </button>
    <button
      class="btn flex-grow-1"
      style="background-color: #0073e6; color: white; margin: 5px"
      (click)="onChartSelect('materialgroup3')"
    >
      Material Group 3
    </button>
    <button
      class="btn flex-grow-1"
      style="background-color: #0073e6; color: white; margin: 5px"
      (click)="onChartSelect('channel')"
    >
      Channel
    </button>
  </div> -->
</div>
